/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
 
* {
  /* Padding and borders will be subtracted from the content box width, not added to it. */
  box-sizing: border-box;
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { 
  /* Make sure the browser knows how to display HTML5 elements */
  display: block;
}

/* Home */
header {
    height: 20%;
    width: 100%;
    background-color: deepskyblue;
    color: white;
}

body {
    font-family: 'Nixie One', cursive;
}
#logo {
    height: 80%;
    width: 80%;
    text-align: center;
    vertical-align: bottom;
}

#title {
    display: inline-block;
    text-align: center;
    padding: 5px 0;
}

#header-nav {
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: bottom;
}
nav {
    display: inline-block;
    padding-bottom: 18px;
}

ul {
    width: 100% 
    display: inline;
    text-align: center;
}

nav li {
    display: inline; 
    font-weight: bold;
    font-size: 2em;
    margin: 20px;
    border-bottom: 3px solid white;
}

#feature {
    width: 100%;
    height: 400px;
}

#welcome-image {
    margin: 5px 0;
}

section {
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin: 10 px;
}

section h2, p {
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
}

.content {
    text-align: center;
}

.circulation {
    width: 70%;
    height: 220px;
    margin-bottom: 20px;
}

footer {
    margin: 20px 0;
    background-color: #333333;
    color: white;
}

